<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.utar.person">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>

    <application
        android:name=".application.PersonApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Person">
        <activity android:name=".NewActivity"></activity>
        <activity
            android:name=".MainUserActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CategoryActivity"></activity>
        <activity android:name=".TransactionActivity2" />
        <activity android:name=".TransactionActivity" />
        <activity android:name=".Scheduler" />
        <activity android:name=".PiggyBankActivity" />
        <activity android:name=".ExpensesActivity" />
        <activity android:name=".IncomeActivity" />
        <receiver android:name=".AlertReceiver" />

        <meta-data
            android:name="com.huawei.hms.client.channel.androidMarket"
            android:value="false" />
    </application>

</manifest>